@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  max-height: 100vh;
  overflow-y: none;
}

.root {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.instructions {
  width: 88%;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: firebrick;
  color: black;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}
.offscreen {
  position: absolute;
  left: -9999px;
}
