@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
